<div class="container">
  <div class="row">


    <div class="col-12">
      <div style="border: 1px solid black; padding: 15px; margin: 10px">
        <div class="row">


          <div class="col-sm-2">
            Id
          </div>
          <div class="col-sm-6">
            <div>
              Pytanie
            </div>
          </div>
          <div class="col-2">
            <div>
              Przedmiot
            </div>
          </div>


          <div class="col-2">
            <div>
              <button class="btn btn-success" (click)="create()">{{buttonLabel}}</button>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="col-12" *ngIf="createFlag">
      <div style="border: 1px solid black; padding: 15px; margin: 10px">
        <div class="row">


          <div class="col-sm-2">
            #
          </div>
          <div class="col-sm-6">
            <div>
              <input class="form-control" type="text" placeholder="Nazwa uczelni"
                     [(ngModel)]="createdQuestion.content"/>
            </div>
          </div>
          <div class="col-2">
            <div *ngIf="createdQuestion.subject != null">
              <select class="form-select" [(ngModel)]="createdQuestion.subject.id">
                <option *ngFor="let sel of subjects" [value]="sel.id">{{sel.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div>
              <button class="btn btn-success" (click)="save()">Zapisz</button>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="col-12" *ngFor="let item of result">
      <div style="border: 1px solid black; padding: 15px; margin: 10px">
        <div class="row">


          <div class="col-sm-2">
            {{item.id}}
          </div>
          <div class="col-sm-6">
            <div>
              {{item.content}}
            </div>
          </div>

          <div class="col-2">
            <div>
              {{item?.subject?.name}}
            </div>
          </div>
          <div class="col-2">
            <div>
              <button class="btn btn-danger" (click)="remove(item)">Usuń</button>
              <button class="btn btn-danger" (click)="edit(item)">Edytuj</button>
            </div>
          </div>
        </div>


      </div>
      <div style="border: 1px solid black; padding: 15px; margin: 10px" *ngIf="editId==item.id">
        <div class="row">


          <div class="col-sm-2">
            <input class="form-control" type="text" disabled [(ngModel)]="editQuestion.id"/>
          </div>
          <div class="col-sm-6">
            <div>
              <input class="form-control" type="text" placeholder="Nazwa uczelni"
                     [(ngModel)]="editQuestion.content"/>
            </div>
          </div>
          <div class="col-2">
            <div *ngIf="editQuestion.subject != null">
              <select class="form-select" [(ngModel)]="editQuestion.subject.id">
                <option *ngFor="let sel of subjects" [value]="sel.id">{{sel.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div>
              <button class="btn btn-success" (click)="saveEdit()">Zapisz</button>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>

</div>

